.error {
    color: red !important;
    font-style: italic;
}

.tip {
    color: gray;
    font-style: italic;
}

.imageHolder {
    height: auto;
}
.image {
	height: 200px;
}

.confirmation {
    margin-right: 1em;
}
    